extends layout

block content
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Red Bicicletas
        h2.text-white-50.mx-auto.mt-2.mb-5 La primera comunidad online de ciclistas urbanos.

  // Projects
  section#projects.projects-section.bg-light
    .container
      #mapid        

  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020
    
  // Core theme JS
  script(src='/js/scripts.js')  
  script(src='/js/main.js')
