#mapid { height: 350px; }
.body-main{padding:100px 60px;}
.btn-to-link{    background-color: transparent;    border: 0;    color: #81a1a3;}
.btn-to-link:hover{color: #467370;text-decoration: underline;}
.center{text-align: center}
