extends ../layout
block content  
  section#create
    .container.bg-light.body-main
      h3 Nueva bicicleta
      br
      form(action='/bicicletas/create' method='post' class="")
        label(for='id') ID:
        input#id(type='text' name='id')
        br
        label(for='color') Color:
        input#color(type='text' name='color')
        br
        label(for='color') Modelo:
        input#modelo(type='text' name='modelo')
        br
        label(for='lat') Latitud:
        input#lat(type='text' name='lat')
        br
        label(for='lng') Longitud:
        input#lng(type='text' name='lng')
        br
        input.btn(type='button' value='volver' onclick='window.location="/bicicletas"')
        input.btn(type='submit' value='Guardar')
            
  // Core theme JS
  script(src='/js/scripts.js')          
  script(src='/js/bicicleta_abc.js')
