extends ../layout
block content
  section#create
    .container.bg-light.body-main
      h3 Listado de bicicletas      
      a(href='/bicicletas/create') agregar nueva
      table.table
        thead
          tr
            th(scope='col').center #
            th(scope='col').center Color
            th(scope='col').center Modelo
            th(scope='col').center Ubicacion
            th(scope='col' colspan='2' ).center Acción
        tbody
          each bici in bicis
            tr 
              th(scope='row').center=bici.id
              td.center=bici.color
              td.center=bici.modelo
              td.center=bici.ubicacion
              td.center
                  a(href='bicicletas/'+bici.id+'/update') Editar
              td.center
                form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                    input(type='hidden' name='id' value=bici.id)
                    button.link-button(type='submit' name='submit_param' value='submit_value' class='btn-to-link' ) Eliminar
                    
                    
  // Core theme JS
  script(src='/js/scripts.js')          
  script(src='/js/bicicleta_abc.js')
