extends ../layout
block content
  section#create
    .container.bg-light.body-main
      h3 Editar bicicleta
      br
      br
      form(action='/bicicletas/'+bici.id+'/update' method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=bici.id)
        br
        label(for='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        label(for='color') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        input#lat(type='text' name='lat' value=bici.ubicacion[0])
        br
        label(for='lng') Longitud:
        input#lng(type='text' name='lng' value=bici.ubicacion[1])
        br
        input.btn(type='button' value='volver' onclick='window.location="/bicicletas"')
        input.btn(type='submit' value='Guardar')
          
  // Core theme JS
  script(src='/js/scripts.js')          
  script(src='/js/bicicleta_abc.js')
